@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');

.App {
  min-height: 10vh;
  /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

font-family: 'Cinzel Decorative'
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 25px;
  /* position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%; */
}


.search-button{
  border:none;
  background:#b101b1;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  margin: 25px;
}

.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

/* 
.search-form.active {}


.search-form .input-holder {    
  height: 70px;
  width:70px;
  overflow: hidden;
  background: rgba(255,255,255,0);
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.search-form.active .input-holder {
  width:450px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-form .input-holder .search-bar {
  width:100%;
  height: 50px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top:0px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFF;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}

.search-form.active .input-holder .search-bar {
  opacity: 1;
  transform: translate(0, 10px);
}

.search-form .input-holder .search-button {
  width:70px;
  height:70px;
  border:none;
  border-radius:6px;
  background: #FFF;
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-form.active .input-holder .search-button {
  width: 50px;
  height:50px;
  margin: 10px;
  border-radius: 30px;
} */
